
<div class="row">
    <div class="col-6">
        <div class="container-lg">
            <div class="md-card">
                <div class="md-card-heading">
                    <div class="md-card-title">Users</div>
                </div>
                <div class="md-card-body">
                    <mat-form-field>
                        <mat-select placeholder="Filter User by Application" name="filterByApplication">
                            <mat-option (onSelectionChange)="filterUserByApplication($event)" [value]="0">
                                All
                            </mat-option>
                            <mat-option (onSelectionChange)="filterUserByApplication($event)" *ngFor="let application of applicationList" [value]="application.id">
                            {{application.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    {{selectedValue}}
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value,userDataSource)" placeholder="Filter">
                    </mat-form-field>
                    <table mat-table [dataSource]="userDataSource" class="mat-rule-table">
                        <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef >
                                <mat-checkbox 
                                    (change)="$event ? userMasterToggle(userSelection,userDataSource) : null"
                                    [checked]="userSelection.hasValue() && isAllSelected(userSelection,userDataSource)"
                                    [indeterminate]="userSelection.hasValue() && !isAllSelected(userSelection,userDataSource)">
                                </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? userSelectionToggle(userSelection,row) : null"
                                    [checked]="userSelection.isSelected(row)">
                                </mat-checkbox>
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> User Name </th>
                            <td mat-cell *matCellDef="let rule;let i = index">
                                {{rule.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="applicationCode">
                            <th mat-header-cell *matHeaderCellDef> Application Code </th>
                            <td mat-cell *matCellDef="let rule">
                                {{rule.applicationCode}}
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="['select','name','applicationCode']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['select','name','applicationCode'];" (click)="userSelectionToggle(userSelection,row)"></tr>
                    </table>
                    <mat-paginator #userPaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                    <div class="container-lg">
                            <div class="md-card">
                                <div class="md-card-heading">
                                    <div class="md-card-title">Available rule(s)</div>
                                </div>
                                <div class="md-card-body">
                                        <mat-form-field>
                                            <mat-select placeholder="Filter Rule by Application" name="filterByApplication">
                                                <mat-option selected (onSelectionChange)="filterRuleByApplication($event)" [value]="0">
                                                    All
                                                </mat-option>
                                                <mat-option (onSelectionChange)="filterRuleByApplication($event)" *ngFor="let application of applicationList" [value]="application.id">
                                                {{application.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value,ruleDataSource)" placeholder="Filter">
                                    </mat-form-field>
                                    <table mat-table [dataSource]="ruleDataSource" class="mat-rule-table">
                                        <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef >
                                                <mat-checkbox 
                                                    (change)="$event ? masterToggle(ruleSelection,ruleDataSource) : null"
                                                    [checked]="ruleSelection.hasValue() && isAllSelected(ruleSelection,ruleDataSource)"
                                                    [indeterminate]="ruleSelection.hasValue() && !isAllSelected(ruleSelection,ruleDataSource)">
                                                </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                <mat-checkbox 
                                                    (click)="$event.stopPropagation()"
                                                    (change)="$event ? ruleSelection.toggle(row) : null"
                                                    [checked]="ruleSelection.isSelected(row)">
                                                </mat-checkbox>
                                                </td>
                                        </ng-container>
                                        <ng-container matColumnDef="code">
                                            <th mat-header-cell *matHeaderCellDef> Rules </th>
                                            <td mat-cell *matCellDef="let rule;let i = index">
                                                <mat-accordion>
                                                    <mat-expansion-panel class="mat-elevation-z0">
                                                        <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            {{rule.code}}
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            {{rule.description}}
                                                        </mat-panel-description>
                                                        </mat-expansion-panel-header>
                                                        <mat-chip-list  *ngFor="let constraint of rule.constraints">
                                                            <div class="row">
                                                                <div class="col-lg-2">
                                                                    <div class="constraint-name-container">
                                                                        <span>{{constraint[0].type}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <div>
                                                                        <mat-chip color="primary" selected  *ngFor="let cons of constraint">
                                                                            {{cons.name}} {{cons.contractName != undefined ? ('-') : ''}} {{cons.contractName}}
                                                                        </mat-chip>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-chip-list>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="['select','code']"></tr>
                                        <tr mat-row *matRowDef="let row; columns: ['select','code'];"></tr>
                                    </table>
                                    <mat-paginator #rulePaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                                    <button mat-button class="btn btn-primary mb-2" (click)="addRulesToUsers()">Add Rule(s)</button>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-12">
                <div class="container-lg">
                    <div class="md-card">
                        <div class="md-card-heading">
                            <div class="md-card-title">Assigned rule(s)</div>
                        </div>
                        <div class="md-card-body">
                                <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value,assignedRulesDataSource)" placeholder="Filter">
                                    </mat-form-field>
                                    <table mat-table [dataSource]="assignedRulesDataSource" class="mat-rule-table">
                                            <ng-container matColumnDef="select">
                                                    <th mat-header-cell *matHeaderCellDef >
                                                    <mat-checkbox 
                                                        (change)="$event ? masterToggle(assignedRulesSelection,assignedRulesDataSource) : null"
                                                        [checked]="assignedRulesSelection.hasValue() && isAllSelected(assignedRulesSelection,assignedRulesDataSource)"
                                                        [indeterminate]="assignedRulesSelection.hasValue() && !isAllSelected(assignedRulesSelection,assignedRulesDataSource)">
                                                    </mat-checkbox>
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox 
                                                        (click)="$event.stopPropagation()"
                                                        (change)="$event ? assignedRulesSelection.toggle(row) : null"
                                                        [checked]="assignedRulesSelection.isSelected(row)">
                                                    </mat-checkbox>
                                                    </td>
                                            </ng-container>
                                            <ng-container matColumnDef="code">
                                                <th mat-header-cell *matHeaderCellDef> Rules </th>
                                                <td mat-cell *matCellDef="let rule;let i = index">
                                                    <mat-accordion>
                                                        <mat-expansion-panel class="mat-elevation-z0">
                                                            <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                {{rule.code}}
                                                            </mat-panel-title>
                                                            <mat-panel-description>
                                                                {{rule.description}}
                                                            </mat-panel-description>
                                                            </mat-expansion-panel-header>
                                                            <mat-chip-list  *ngFor="let constraint of rule.constraints">
                                                                <div class="row">
                                                                    <div class="col-lg-2">
                                                                        <div class="constraint-name-container">
                                                                            <span>{{constraint[0].type}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-10">
                                                                        <div>
                                                                            <mat-chip color="primary" selected  *ngFor="let cons of constraint">
                                                                                {{cons.name}} {{cons.contractName != undefined ? ('-') : ''}} {{cons.contractName}}
                                                                            </mat-chip>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </mat-chip-list>
                                                            <div *ngIf="userSelection.selected.length > 1" class="users-assigned-to-rules-container overflow-hidden" >
                                                                <!--<div class="see-more" (click)="showAllUserList($event)">...</div>-->
                                                                <mat-chip disabled *ngFor="let user of userSelection.selected" class="users-assigned-to-rules-content">{{getUsersNameToAssignedRules(user.rules,rule.id,user)}}</mat-chip>
                                                            </div>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                   
                                                    
                                                </td>
                                            </ng-container>
                                            
                                            <tr mat-header-row *matHeaderRowDef="['select','code']"></tr>
                                            <tr mat-row *matRowDef="let row; columns: ['select','code'];"></tr>
                                    </table>
                                    <mat-paginator #assignedRulesPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                                    <button mat-button class="btn btn-danger mb-2" (click)="removeRUles(assignedRulesSelection)">Remove Rule(s)</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>