<mat-form-field>
    <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox *ngIf="!filter"
                (change)="$event ? masterToggle($event) : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
            <mat-checkbox  *ngIf="filter"
                (change)="$event ? selectfilterValue() : null"
                [checked]="selection.hasValue() && isAllFilterValueSelected()"
                [indeterminate]="selection.hasValue() && !isAllFilterValueSelected()">
            </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
            <mat-checkbox 
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{headerCell}}  </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} {{element.contractDescription != undefined ? '(' + element.contractDescription+ ')': ''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['select','description'];"></tr>
        <tr mat-row *matRowDef="let row; columns: ['select','description'];"
            (click)="selection.toggle(row)">
        </tr>
</table>
<mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>