<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-12">
            <material-table-paginator-filter [dataSource]="dataSource" [selection]="selection" [pageSizeOptions]="[5,10,20]" [headerCell]="headerCell" (selected)="onSelect($event)"></material-table-paginator-filter>
        </div>
    </div>
  
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cansel</button>
    <button mat-button (click)="onSave()" cdkFocusInitial>Ok</button>
</div>