<h1 mat-dialog-title>Clone Rule</h1>
<div mat-dialog-content>
  <p>Please select the application(s)</p>
    <form [formGroup]="clonedRuleFormGroup">
        <mat-form-field class="description-form-field">
            <textarea  matInput placeholder="Rule Description" formControlName="descriptionCtrl"></textarea>
        </mat-form-field>
    </form>
    <div class="row">
        <div class="col-12">
            <material-table-paginator-filter [dataSource]="applicationDataSource" [selection]="applicationSelection" [pageSizeOptions]="[5,10,20]" [headerCell]="headerCell"></material-table-paginator-filter>
        </div>
    </div>
  
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cansel</button>
    <button mat-button (click)="onSave()" cdkFocusInitial>Ok</button>
</div>