<div class="container-lg">
    <div class="md-card">
        <div class="md-card-body">
            <form [formGroup]="newRuleFormGroup">
                <div class="md-card-heading">
                    <div class="md-card-title">New Rule</div>
                </div>
                <mat-horizontal-stepper [linear]="false" #stepper>
                    <ng-template matStepperIcon="number">
                        <mat-icon>edit</mat-icon>
                    </ng-template> 
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template> 
                    <mat-step >
                        <ng-template matStepLabel>Segments</ng-template>
                        <div class="row">
                            <div class="col-6">
                                <material-table-paginator-filter [dataSource]="segmentDataSource" [selection]="segmentSelection" [pageSizeOptions]="pageSizeOptions"></material-table-paginator-filter>
                            </div>
                        </div>
                        <button mat-button matStepperNext>Next</button>
                    </mat-step>
                    <mat-step >
                        <ng-template matStepLabel>Contracts</ng-template>
                        <div class="row">
                            <div class="col-6">
                                <material-table-paginator-filter [dataSource]="contractDataSource" [selection]="contractSelection" [pageSizeOptions]="pageSizeOptions"></material-table-paginator-filter>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>PBP</ng-template>
                        <div class="row">
                            <div class="col-6">
                                <material-table-paginator-filter [dataSource]="pbpDataSource" [selection]="pbpSelection" [pageSizeOptions]="pageSizeOptions"></material-table-paginator-filter>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Tax ID</ng-template>
                        <div class="row">
                            <div class="col-6">
                                <material-table-paginator-filter [dataSource]="taxIdDataSource" [selection]="taxIdSelection" [pageSizeOptions]="pageSizeOptions"></material-table-paginator-filter>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                            <ng-template matStepLabel>Measures</ng-template>
                            <div class="row">
                                <div class="col-6">
                                    <material-table-paginator-filter [dataSource]="measureDataSource" [selection]="measureSelection" [pageSizeOptions]="pageSizeOptions"></material-table-paginator-filter>
                                </div>
                            </div>
                            <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                            </div>
                    </mat-step>
                    <mat-step >
                            <ng-template matStepLabel>Applications</ng-template>
                            <div class="row">
                                <div class="col-6">
                                    <material-table-paginator-filter [dataSource]="applicationDataSource" [selection]="applicationSelection" [pageSizeOptions]="pageSizeOptions"></material-table-paginator-filter>
                                </div>
                            </div>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                    </mat-step>
                    <mat-step>
                        <mat-form-field class="example-half-width">
                            <textarea  matInput placeholder="Rule Description" formControlName="descriptionCtrl"></textarea>
                        </mat-form-field>
                        
                        <div>
                            <div>
                                <ng-template matStepLabel>Done</ng-template>
                                You are now done.
                            </div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepperAndSelectionReset()">Reset</button>
                        <button mat-button class="btn btn-primary mb-2" (click)="saveRule()">Save</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
    </div>
</div>
<!--*ngIf="ruleList.length > 0"-->
<div class="container-lg" >
    <div class="md-card">
       
        <div class="md-card-heading">
            <div class="md-card-title">Existing Rules</div>
        </div>
        <div class="md-card-body existing-rules-body">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value,ruleDataSource)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="ruleDataSource" class="mat-rule-table">
                    <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Rules </th>
                    <td mat-cell *matCellDef="let rule;let parentIndex = index" class="{{(rule.isEditing) ? 'rule-is-editing' : ''}}">
                        <mat-accordion>
                            <mat-expansion-panel class="mat-elevation-z0 " [expanded]="rule.expanded"  >
                                <mat-expansion-panel-header (click)="togglePanelOpen(rule)" >
                                    <mat-panel-title>
                                        <mat-icon color="editing" *ngIf="rule.isEditing">edit</mat-icon>
                                         {{rule.code}} 
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{rule.description}}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                               <mat-form-field class="example-half-width" *ngIf="rule.isEditing">
                                    <textarea  matInput placeholder="Rule Description"  [(ngModel)]="rule.description" ></textarea>
                                </mat-form-field>
                                <mat-chip-list  *ngFor="let constraint of rule.constraints">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <div class="constraint-name-container">
                                                <span>{{constraint[0] != undefined ? constraint[0].type : ''}} </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-11">
                                            <div>
                                            <mat-chip-list>
                                                <mat-chip color="editing" *ngIf="rule.isEditing"  selected (click)="editConstraints(constraint[0].type,constraint,rule)" >
                                                    <mat-icon color="editing">edit</mat-icon>
                                                </mat-chip>
                                                <mat-chip color="{{rule.isEditing == false ? 'primary' : ''}}" selected *ngFor="let cons of constraint;let childIndex = index">
                                                    {{cons.name}}
                                                    <mat-icon color="primary" *ngIf="rule.isEditing && constraint.length > 1" (click)="removeConstraint(rule,cons,childIndex)">cancel</mat-icon>
                                                </mat-chip>
                                                
                                            </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                </mat-chip-list>

                                <div class="mat-button-container">
                                    <button mat-button class="btn btn-danger mb-2" *ngIf="!rule.isEditing && !isEditing"  (click)="removeRow(parentIndex,ruleDataSource)">
                                        Delete
                                    </button>
                                    <button mat-button class="btn mat-button mb-2" *ngIf="!rule.isEditing && !isEditing" (click)="cloneRule(parentIndex,rule)">
                                        Clone
                                    </button>
                                    <button mat-button class="btn mat-button mb-2" *ngIf="!rule.isEditing && !isEditing" (click)="editRule(rule)">
                                        Edit
                                    </button>
                                    <button mat-button class="btn mat-button mb-2" *ngIf="rule.isEditing" (click)="cancelEditRule(parentIndex,childIndex)">
                                        Cansel
                                    </button>
                                    <button mat-button class="btn mat-button mb-2" *ngIf="rule.isEditing" (click)="toggleEditeRule(rule)">
                                        Save
                                    </button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['code']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['code'];"></tr>
            </table>
            <mat-paginator #rulePaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

