:host /deep/ .mat-step-header .mat-step-icon[ng-reflect-ng-switch="edit"]{
    background-color: #4caf50;
    //display: none;
}

:host /deep/ .mat-step-header .mat-step-icon[ng-reflect-ng-switch="number"]{
    background-color: #2196F3;
   // display: none;
}

:host /deep/ .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
    background-color: #2196F3;
}

:host /deep/ .mat-step-header .mat-step-icon-not-touched{
    display: none;
}
.md-card .md-card-heading{
    padding: 20px 22px;
}

.mat-form-field .mat-form-field-infix{
    width: 500px !important;
}

.example-full-width {
    width: 100%;
}

.example-half-width {
    width: 50%;
}

table, mat-paginator {
    width: 50%;
}

.container-lg{
    max-width:none;
}

.mat-expansion-panel{
    box-shadow:none;
}

.mat-rule-table{
    width: 100%;
}
:host /deep/ .mat-chip-list-wrapper{
    margin: 0px;
}

.btn-danger{
    background-color : #E53935;
}

.mat-button-container{
    padding: 10px;
    padding-top: 30px;
    float: left;
    margin-left: -10px;
}

.mat-column-select{
    width: 100px;
}

.constraint-type-col{
    min-width: 100px;
}

.row{
    width: 100%;
}

table, :host /deep/ .mat-paginator-container{
    border: solid 1px #e0e0e0;
}

:host /deep/ .mat-paginator-container{
    margin-bottom: 10px;
}

:host /deep/ tr.mat-header-row{
    background-color: #f8f8f8;
}

.existing-rules-body mat-paginator {
    width: 100% !important;
}

.constraint-name-container{
    padding-top: 10px;
    color: #6f6f6f;
}

.existing-rules-body mat-expansion-panel{
    border-bottom: solid 1px gainsboro;
}