<div class="container-lg">
    <div class="md-card">
        <div class="md-card-body">
            <form [formGroup]="newRuleFormGroup">
                <div class="md-card-heading">
                    <div class="md-card-title">New Rule</div>
                </div>

                <mat-horizontal-stepper [linear]="false" #stepper>
                    <ng-template matStepperIcon="number">
                        <mat-icon>edit</mat-icon>
                    </ng-template> 
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template> 
                    <mat-step >
                        <ng-template matStepLabel>Contract</ng-template>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value,contractDataSource)" placeholder="Filter">
                        </mat-form-field>
                        <table mat-table [dataSource]="contractDataSource">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox 
                                        (change)="$event ? masterToggle(contractSelection,contractDataSource) : null"
                                        [checked]="contractSelection.hasValue() && isAllSelected(contractSelection,contractDataSource)"
                                        [indeterminate]="contractSelection.hasValue() && !isAllSelected(contractSelection,contractDataSource)">
                                    </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                    <mat-checkbox 
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? contractSelection.toggle(row) : null"
                                        [checked]="contractSelection.isSelected(row)">
                                    </mat-checkbox>
                                    </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Contract </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="['select','name']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['select','name'];"
                                    (click)="contractSelection.toggle(row)">
                                </tr>
                        </table>
                        <mat-paginator #contractPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>PBP</ng-template>
                        <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value,pbpDataSource)" placeholder="Filter">
                        </mat-form-field>
                        <table mat-table [dataSource]="pbpDataSource">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox 
                                        (change)="$event ? masterToggle(pbpSelection,pbpDataSource) : null"
                                        [checked]="pbpSelection.hasValue() && isAllSelected(pbpSelection,pbpDataSource)"
                                        [indeterminate]="pbpSelection.hasValue() && !isAllSelected(pbpSelection,pbpDataSource)">
                                    </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                    <mat-checkbox 
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? pbpSelection.toggle(row) : null"
                                        [checked]="pbpSelection.isSelected(row)">
                                    </mat-checkbox>
                                    </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Contract </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="['select','name']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['select','name'];"
                                    (click)="pbpSelection.toggle(row)">
                                </tr>
                        </table>
                        <mat-paginator #pbpPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Tax ID</ng-template>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value,taxIdDataSource)" placeholder="Filter">
                        </mat-form-field>
                        <table mat-table [dataSource]="taxIdDataSource">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox 
                                        (change)="$event ? masterToggle(taxIdSelection,taxIdDataSource) : null"
                                        [checked]="taxIdSelection.hasValue() && isAllSelected(taxIdSelection,taxIdDataSource)"
                                        [indeterminate]="taxIdSelection.hasValue() && !isAllSelected(taxIdSelection,taxIdDataSource)">
                                    </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                    <mat-checkbox 
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? taxIdSelection.toggle(row) : null"
                                        [checked]="taxIdSelection.isSelected(row)">
                                    </mat-checkbox>
                                    </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Tax Id </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="['select','name']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['select','name'];"
                                    (click)="taxIdSelection.toggle(row)">
                                </tr>
                        </table>
                        <mat-paginator #taxIdPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                            <ng-template matStepLabel>Measures</ng-template>
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value,measureDataSource)" placeholder="Filter">
                            </mat-form-field>
                            <table mat-table [dataSource]="measureDataSource">
                                    <!-- Checkbox Column -->
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox 
                                            (change)="$event ? masterToggle(measureSelection,measureDataSource) : null"
                                            [checked]="measureSelection.hasValue() && isAllSelected(measureSelection,measureDataSource)"
                                            [indeterminate]="measureSelection.hasValue() && !isAllSelected(measureSelection,measureDataSource)">
                                        </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                        <mat-checkbox 
                                            (click)="$event.stopPropagation()"
                                            (change)="$event ? measureSelection.toggle(row) : null"
                                            [checked]="measureSelection.isSelected(row)">
                                        </mat-checkbox>
                                        </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Tax Id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="['select','name']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['select','name'];"
                                        (click)="measureSelection.toggle(row)">
                                    </tr>
                            </table>
                            <mat-paginator #measurePaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                            <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                            </div>
                    </mat-step>
                    <mat-step >
                            <ng-template matStepLabel>Applications</ng-template>
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value,applicationDataSource)" placeholder="Filter">
                            </mat-form-field>
                            <table mat-table [dataSource]="applicationDataSource">
                                    <!-- Checkbox Column -->
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef >
                                        <mat-checkbox 
                                            (change)="$event ? masterToggle(applicationSelection,applicationDataSource) : null"
                                            [checked]="applicationSelection.hasValue() && isAllSelected(applicationSelection,applicationDataSource)"
                                            [indeterminate]="applicationSelection.hasValue() && !isAllSelected(applicationSelection,applicationDataSource)">
                                        </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                        <mat-checkbox 
                                            (click)="$event.stopPropagation()"
                                            (change)="$event ? applicationSelection.toggle(row) : null"
                                            [checked]="applicationSelection.isSelected(row)">
                                        </mat-checkbox>
                                        </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Tax Id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="['select','name']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['select','name'];"
                                        (click)="applicationSelection.toggle(row)">
                                    </tr>
                            </table>
                            <mat-paginator #applicationPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                            <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                            </div>
                    </mat-step>
                    <mat-step>
                        <mat-form-field class="example-half-width">
                            <textarea  matInput placeholder="Rule Description" formControlName="descriptionCtrl"></textarea>
                        </mat-form-field>
                        
                        <div>
                            <div>
                                <ng-template matStepLabel>Done</ng-template>
                                You are now done.
                            </div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepperAndSelectionReset()">Reset</button>
                        <button mat-button class="btn btn-primary mb-2" (click)="saveRule()">Save</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
    </div>
</div>
<!--*ngIf="ruleList.length > 0"-->
<div class="container-lg" >
    <div class="md-card">
       
        <div class="md-card-heading">
            <div class="md-card-title">Existing Rules</div>
        </div>
        <div class="md-card-body">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value,ruleDataSource)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="ruleDataSource" class="mat-rule-table">
                    <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Rules </th>
                    <td mat-cell *matCellDef="let rule;let i = index">
                        <mat-accordion>
                            <mat-expansion-panel class="mat-elevation-z0">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{rule.code}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{rule.description}}
                                </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-chip-list  *ngFor="let constraint of rule.constraints">
                                    <mat-chip color="primary" selected  *ngFor="let cons of constraint">
                                        <strong>{{cons.type}} </strong>: {{cons.name}}
                                    </mat-chip>
                                </mat-chip-list>

                                <div class="mat-button-container">
                                    <button mat-button class="btn btn-danger mb-2"  (click)="removeRow(i,ruleDataSource)">
                                          Delete
                                    </button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                    </ng-container>
                
                
                    <tr mat-header-row *matHeaderRowDef="['code']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['code'];"></tr>
            </table>
            <mat-paginator #rulePaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
